
@use 'sass:map';
@use '../abstracts/breakpoints' as *;

/// —————— CLASES BASE ——————
.d-block         { display: block         !important; }
.d-inline        { display: inline        !important; }
.d-inline-block  { display: inline-block  !important; }
.d-flex          { display: flex          !important; }
.d-inline-flex   { display: inline-flex   !important; }
.d-grid          { display: grid          !important; }
.d-inline-grid   { display: inline-grid   !important; }
.d-none          { display: none          !important; }

/// Flex-directions
.d-flex-row     { display: flex !important; flex-direction: row          !important;}
.d-flex-column  { display: flex !important; flex-direction: column       !important; }
.d-flex-row-rev { display: flex !important; flex-direction: row-reverse  !important; }
.d-flex-col-rev { display: flex !important; flex-direction: column-reverse!important;}

/// —————— VARIANTES RESPONSIVAS ——————
@each $label in map.keys($breakpoints) {
  @include respond-to($label) {
    /// display
    @each $d in (block, inline, inline-block, flex, inline-flex, grid, inline-grid, none) {
      .#{$label}\:d-#{$d} {
        display: #{$d} !important;
      }
    }
    /// flex-directions
    @each $dir in (row, column, row-reverse, column-reverse) {
      .#{$label}\:d-flex-#{$dir} {
        display: flex !important;
        flex-direction: #{$dir} !important;
      }
    }
  }
}