@use '../abstracts/variables' as vars;
.result{
  &-grid{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1.5rem;
    @media(max-width:767px){
      grid-template-columns: 1fr;
    }
  }
}
